<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ninja</title>
</head>
<body>
    <h1>Add a Ninja</h1>
        <form action="/created_ninja" method="POST">
            <fieldset>
                <legend>New Ninja Information:</legend>
                <label for="first_name">First name:</label><br>
                <input type="text" id="first_name" name="first_name" value="{{first_name}}"><br>
                <label for="last_name">Last name:</label><br>
                <input type="text" id="last_name" name="last_name" value="{{last_name}}"><br>
                <label for="age">Age:</label><br>
                <input type="text" id="age" name="age" value="{{age}}"><br>
                <label for="dojo">Dojo:</label><br>
                <select name="dojo_id" id="dojo_id">
                {% for dojos in all_dojos %}
                    <option value="{{dojos.id}}">{{dojos.name}}</option>
                {% endfor %}
                </select>
                <hr>
                <input type="submit" value="Submit">
            </fieldset>
        </form> 
    <a href="/dojos">All Dojos</a>
</body>
</html>